{#
/**
 * @file
 * Default theme implementation for a GHO figures formatter.
 *
 * Available variables:
 * - figures: list of figures with a label and a value.
 * - format: format of the figures: large or small
 * - attributes: attributes for the wrapper.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'gho-figures',
    'gho-figures--' ~ format,
  ]
%}
{% if figures %}
<div{{ attributes.addClass(classes) }}>
{% for figure in figures %}
  <div class="gho-figure gho-figure--{{ figure.emphasis }}">
    <div class="gho-figure__label">{{ figure.label }}</div>
    <div class="gho-figure__value" data-footnote="{{ figure.footnote }}">{{ figure.value }}</div>
  </div>
{% endfor %}
</div>
{% endif %}
