{#
/**
 * @file
 * Theme override to display an Article node in Sub-Article view mode.
 *
 * Overrides core/themes/classy/templates/content/node.html.twig.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{{ attach_library('common_design_subtheme/gho-sub-article') }}
{{ attach_library('common_design_subtheme/gho-social-links') }}
{% set hero_image = content.field_hero_image|render %}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'gho-sub-article',
    hero_image ? 'gho-sub-article--hero' : 'gho-sub-article--no-hero',
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <header class="gho-sub-article__header">
    {{ hero_image }}
    <div class="gho-sub-article__heading content-width">
      <h2{{ title_attributes.addClass('gho-sub-article__title').setAttribute('id', label|render|striptags|clean_class) }}>{{ label }}</h2>
      {{ content.field_appeals }}
    </div>
  </header>
  <div{{ content_attributes.addClass('node__content').addClass('gho-sub-article__content') }}>
    {{ content|without(['field_hero_image', 'field_appeals']) }}
  </div>

  <footer class="gho-sub-article__social-links gho-social-links content-width">
    {% set shareMessage = 'Custom share message goes here.' %}
    {% set shareUrlEncoded = 'https%3A%2F%2Fgho.unocha.org' ~ url|url_encode %}
    {% set shareUrl = 'https://gho.unocha.org' ~ url %}
    <ul>
      <li>
        <a class="gho-social-links__link gho-social-links__link--twitter" href="https://twitter.com/intent/tweet?text={{ shareMessage }}%0A%0A{{ shareUrlEncoded }}">
          <span class="visually-hidden">{{ 'Share on Twitter'|t }}</span>
          <svg class="cd-icon cd-icon--twitter" width="32" height="32" aria-hidden="true" focusable="false">
            <use xlink:href="#cd-icon--sm-tt-def"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="gho-social-links__link gho-social-links__link--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ shareUrlEncoded }}">
          <span class="visually-hidden">{{ 'Share on Facebook'|t }}</span>
          <svg class="cd-icon cd-icon--facebook" width="32" height="32" aria-hidden="true" focusable="false">
            <use xlink:href="#cd-icon--sm-fb-def"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="gho-social-links__link gho-social-links__link--linkedin" href="https://www.linkedin.com/shareArticle?mini=true&summary={{ shareMessage }}&title={{ label|render|striptags|trim }}&url={{ shareUrlEncoded }}">
          <span class="visually-hidden">{{ 'Share on LinkedIn'|t }}</span>
          <svg class="cd-icon cd-icon--linkedin" width="32" height="32" aria-hidden="true" focusable="false">
            <use xlink:href="#cd-icon--sm-ln-def"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="gho-social-links__link gho-social-links__link--copy" href="{{ shareUrl }}">
          <span class="visually-hidden">{{ 'Copy URL to Clipboard'|t }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 47.96964"><defs><style>.cls-1{fill:#1f1f1f;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Text"><path class="cls-1" d="M44.56024,8.39249l-7.1015-6.95264a4.91647,4.91647,0,0,0-6.95264,0L13.511,18.435a4.91623,4.91623,0,0,0,0,6.95263l3.47631,3.4762a1.09269,1.09269,0,0,0,1.54517,0l2.31738-2.3175a1.09218,1.09218,0,0,0,0-1.54493l-3.09008-3.09008L33.98242,5.68863l6.17993,6.18017L33.21,18.8212l1.44556,1.44507a8.13955,8.13955,0,0,1,1.88135,2.95312l8.02337-7.87451A4.91639,4.91639,0,0,0,44.56024,8.39249Z"/><path class="cls-1" d="M28.86157,19.10806a1.09217,1.09217,0,0,0-1.54492,0L24.999,21.42545a1.09276,1.09276,0,0,0,0,1.545l.77246.77258,2.31763,2.31739-9.27,9.27014-6.95263,6.95251L8.77661,39.193l-3.09009-3.09,6.9524-6.95252-.38623-.38623-.00123-.00158L11.1936,27.7045a8.13516,8.13516,0,0,1-1.88159-2.952L1.43774,32.62674a4.92157,4.92157,0,0,0,0,6.95264l6.9524,6.95251a4.92156,4.92156,0,0,0,6.95263,0l8.50855-8.50854,8.48657-8.48658a4.92156,4.92156,0,0,0,0-6.95263Z"/></g></g></svg>
        </a>
      </li>
    </ul>
  </footer>
</article>
