{% embed '@common_design/cd/cd-header/cd-ocha.html.twig' %}

  {% block related_platforms %}
  <li class="cd-ocha-dropdown__link"><a href="https://humanitarianaction.info/">{{ 'Humanitarian Action'|t }}</a></li>
  <li class="cd-ocha-dropdown__link"><a href="https://interagencystandingcommittee.org">{{ 'Inter-Agency Standing Committee'|t }}</a></li>
  <li class="cd-ocha-dropdown__link"><a href="https://unocha.org">{{ 'OCHA website'|t }}</a></li>
  <li class="cd-ocha-dropdown__link"><a href="https://reliefweb.int">{{ 'ReliefWeb'|t }}</a></li>
  {% endblock %}

  {% block other_services_first %}
  <li class="cd-ocha-dropdown__link"><a href="https://data.humdata.org/">{{ 'Humanitarian Data Exchange'|t }}</a></li>
  <li class="cd-ocha-dropdown__link"><a href="https://humanitarian.id/">{{ 'Humanitarian ID'|t }}</a></li>
  <li class="cd-ocha-dropdown__link"><a href="https://humanitarianresponse.info/">{{ 'Humanitarian Response'|t }}</a></li>
  {% endblock %}

  {% block other_services_second %}
  <li class="cd-ocha-dropdown__link"><a href="https://fts.unocha.org/">{{ 'Financial Tracking'|t }} Service</a></li>
  <li class="cd-ocha-dropdown__link"><a href="https://vosocc.unocha.org/">{{ 'Virtual OSOCC'|t }}</a></li>
  {% endblock %}

{% endembed %}
